<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Comments</title>
</head>
<body>
    <a href="/"> << Go back</a>
    <h1>{{this_course.name}}</h1>
    <p>Description: </p>
    <p id="pbox">{{this_course.description.description}}</p>
    <p>Last Modified: {{this_course.modified_at}}</p>
    

    <br>
    <form action="comments/add" method="POST">
        {% csrf_token %}
        <label >Subject</label><br>
        <input type="text" name="topic" id="comm"><br><br>
        <label>Comment</label><br>
        <textarea name="comment" id="comm" cols="30" rows="10"></textarea><br>
        <input id="button" type="submit" value="Post Comment">

    </form>

    {% for comment in this_course.comments.all %}
        <h4 id="comm_topic">{{comment.topic}}</h4>
        <p id="comm_body">{{comment.comment}}</p>
    {% endfor %}
    
</body>
</html>